.register {
    background-color: #f8f8f8;
}

.register__title {
    margin: 0 auto;
    padding-top: 50px;
    text-align: left;
    width: 60%;
}

.register-form {
    margin: 0 auto;
    width: 60%;
}

.form__group {
    margin-bottom: 30px;
}

.form__item {
    margin-bottom: 10px;
}

.form__item--required {
    background-color: #fd0707;
    color: #fff;
    font-size: 13px;
    line-height: center;
}

.form__content--input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #e0dfde;
    padding: 0 10px;
}

.form__content--text {
    width: 100%;
    height: 100px;
    padding: 10px 10px;
    appearance: auto;
}

.form__custom--button {
    background-color: #e0dfde;
    border: 1px solid #4b4b4b;
    font-size: 13px;
    padding: 5px 10px;
}

.form__button {
    text-align: center;
    padding-bottom: 30px;
}

.form__button--back {
    width: 20%;
    height: 40px;
    color: #4b4b4b;
    background-color: #e0dfde;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.form__button--register {
    width: 20%;
    height: 40px;
    color: #4b4b4b;
    background-color: #f5c800;
    border: none;
    border-radius: 5px;
}